<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Funny Index</title>
   
  　<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <!--使用Bootstrap的js插件，必须先调入jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <style>
    .col-md-10{
    
      font-size:120%;
      margin-top:80px;
      margin-left: auto;
      margin-right: auto;
      
     
    
    }
    </style>
  
  </head>
  <body>
    
  <div class="col-md-10">
   
      {{ content }}
    
   </div>
    <footer>
      <div class="container">
        Hi
      </div>
    </footer>
  </body>
</html>
