<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Funny Index</title>
    
  <style>
    .main{
    
      font-size:150%;
      margin-top:80px;
      margin-left: auto;
      margin-right: auto;
      width:75%
    
    }
    </style>
  
  </head>
  <body>
  <div class="main">
   
      {{ content }}
    
   </div>
    <footer>
      <div class="container">
       Hallo 
      </div>
    </footer>
  </body>
</html>
