<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Funny Index</title>
   
  　<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <style>
    .col-md-10{
    
      font-size:120%;
      margin-top:80px;
      margin-left: auto;
      margin-right: auto;
     
    
    }
    </style>
  
  </head>
  <body>
  <div class="col-md-10">
   
      {{ content }}
    
   </div>
    <footer>
      <div class="container">
        
      </div>
    </footer>
  </body>
</html>
